.product-listings {
  background-color: $white;

  &__banner {
    @include adaptive-value('min-height', 209, 146);
    @include adaptive-value('padding-block', 36, 32);

    display: flex;
    flex-direction: column;
    background: url('../img/bg.jpg') no-repeat center / cover;
    padding-inline: $containerIndent;
  }

  &__title {
    margin-top: auto;
    font-family: 'Clash Display', sans-serif;
    font-size: rem(36);
    line-height: 1.4;
    text-align: left;
    color: $white;

    @include mq('md') {
      text-align: center;
    }
  }

  &__inner {
    @include adaptive-value('padding-block', 36, 20);

    display: flex;
    align-items: flex-start;
    gap: rem(5);
  }

  &__aside {
    @include hide-scroll;

    flex: 0 1 rem(305);

    @include mq('xl') {
      flex: 0 0 rem(205);
    }

    @include mq('md') {
      position: fixed;
      left: 0;
      top: 0;
      z-index: 10000;
      overflow: hidden auto;
      padding: rem(50);
      width: 100%;
      height: 100%;
      background-color: transparent;
      transition: background-color 0.2s ease;
      pointer-events: none;

      // background-color: rgba($dark-primary, 0.7);

      &.active {
        background-color: rgba($dark-primary, 0.7);
        pointer-events: unset;

        .product-listings__body {
          opacity: 1;
          visibility: visible;
          animation: open 0.3s ease forwards;
        }
      }

      &.close {
        .product-listings__body {
          animation: close 0.3s ease forwards;
        }
      }
    }
  }

  &__body {
    @include flex-all-center;

    opacity: 0;
    visibility: hidden;
    transition: 0.3s ease;
  }

  &__close {
    position: absolute;
    right: rem(-30);
    top: rem(-30);
    display: none;

    &-svg {
      display: block;
      width: rem(30);
      height: rem(30);
      fill: $white;
    }

    @include mq('md') {
      display: block;
    }
  }

  &__wrapper {
    @include mq('md') {
      @include grid-default-set(2, 1fr, rem(20));

      position: relative;
      border-radius: rem(20);
      padding: rem(30);
      width: 100%;
      background-color: $white;
    }

    @include mq('sm') {
      @include grid-default-set(1, 1fr, rem(20));
    }
  }

  &__buttons {
    display: none;

    @include mq('md') {
      @include grid-default-set(2, 1fr, rem(20));

      margin-bottom: rem(40);
    }

    @include mq('xs') {
      @include grid-default-set(1, 1fr, rem(20));
    }
  }

  &__sort {
    @include mb(rem(50));

    &-title {
      margin-bottom: rem(20);
      font-family: 'Clash Display', sans-serif;
      font-size: 1rem;
      line-height: 1.4;
    }

    @include mq('md') {
      @include mb(rem(0));
    }
  }

  &__apply {
    display: none;

    @include mq('md') {
      display: flex;
      align-self: flex-end;
      grid-column: 1/-1;
      height: fit-content;
    }
  }

  &__content {
    flex: 1 1 auto;
  }

  &__block {
    @include mb(rem(12));
  }

  &__list {
    @include grid-cards('fill', rem(260), 1fr, rem(36) rem(20));
    @include adaptive-value('margin-bottom', 32, 40);

    @include mq('xl') {
      @include grid-default-set(2, 1fr, rem(36) rem(20));
    }

    @include mq('md') {
      @include grid-default-set(2, 1fr, rem(36) rem(20));
    }

    @include mq('xs') {
      @include grid-default-set(1, 1fr, rem(36) rem(20));
    }
  }

  &__btn {
    margin: 0 auto;
  }
}

@keyframes open {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(1.1, 1.1, 1);
    transform: scale3d(1.1, 1.1, 1);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes close {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    -webkit-transform: scale3d(0.9, 0.9, 1);
    transform: scale3d(0.9, 0.9, 1);
  }
}
