{
  "singleQuote": true,
  "bracketSameLine": true,
  "arrowParens": "avoid",
  "semi": true,
  "printWidth": 120,
  "trailingComma": "none",
  "htmlWhitespaceSensitivity": "css",
  "vueIndentScriptAndStyle": false,
  "endOfLine": "crlf"
}
