<div class="banner" id="banner">
  <div class="banner__inner">
    <div class="banner__slider swiper">
      <div class="banner__wrapper swiper-wrapper">
        <div class="banner__slide swiper-slide">
          <svg class="banner__icon">
            <use xlink:href="img/sprite.svg#delivery"></use>
          </svg>
          Free delivery on all orders over £50 with code easter checkout
        </div>
        <div class="banner__slide swiper-slide">
          <svg class="banner__icon">
            <use xlink:href="img/sprite.svg#delivery"></use>
          </svg>
          Lorem ipsum dolor sit amet.
        </div>
      </div>
    </div>
    <button class="banner__close" id="banner-close">
      <svg class="banner__close-svg">
        <use xlink:href="img/sprite.svg#close"></use>
      </svg>
    </button>
  </div>
</div>
