<footer class="footer" id="footer">
  <div class="container">
    <div class="footer__inner">
      <div class="footer__top">
        <div class="footer__left">
          <h2 class="footer__title">Join our mailing list</h2>
          <div class="footer__navigation">
            <ul class="footer__blocks">
              <li class="footer__block">
                <h3 class="footer__block-head">Menu</h3>
                <ul class="footer__list">
                  <li class="footer__item">
                    <a href="#" class="footer__link">New arrivals</a>
                  </li>
                  <li class="footer__item">
                    <a href="#" class="footer__link">Best sellers</a>
                  </li>
                  <li class="footer__item">
                    <a href="#" class="footer__link">Recently viewed</a>
                  </li>
                  <li class="footer__item">
                    <a href="#" class="footer__link">Popular this week</a>
                  </li>
                  <li class="footer__item">
                    <a href="#" class="footer__link">All products</a>
                  </li>
                </ul>
              </li>
              <li class="footer__block">
                <h3 class="footer__block-head">Categories</h3>
                <ul class="footer__list">
                  <li class="footer__item">
                    <a href="#" class="footer__link">Crockery</a>
                  </li>
                  <li class="footer__item">
                    <a href="#" class="footer__link">Furniture</a>
                  </li>

                  <li class="footer__item">
                    <a href="#" class="footer__link">Plant pots</a>
                  </li>
                  <li class="footer__item">
                    <a href="#" class="footer__link">Chairs</a>
                  </li>
                  <li class="footer__item">
                    <a href="#" class="footer__link">Crockery</a>
                  </li>
                </ul>
              </li>
              <li class="footer__block">
                <h3 class="footer__block-head">Our company</h3>
                <ul class="footer__list">
                  <li class="footer__item">
                    <a href="#" class="footer__link">About us</a>
                  </li>
                  <li class="footer__item">
                    <a href="#" class="footer__link">Vacancies</a>
                  </li>
                  <li class="footer__item">
                    <a href="#" class="footer__link">Contact us</a>
                  </li>
                  <li class="footer__item">
                    <a href="#" class="footer__link">Privacy</a>
                  </li>
                  <li class="footer__item">
                    <a href="#" class="footer__link">Returns policy</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
        <div class="footer__right">
          <form class="email-block__form form-input form-input--white">
            <input type="text" class="form-input__input" placeholder="your@email.com" />
            <button class="form-input__submit btn btn--medium-white" type="submit">Sign up</button>
          </form>
        </div>
      </div>
      <div class="footer__bottom">
        <ul class="footer__socials">
          <li class="footer__social">
            <a href="#" target="_blank" class="footer__social-link">
              <svg class="footer__social-icon">
                <use xlink:href="img/sprite.svg#logo-linkedin"></use>
              </svg>
            </a>
          </li>
          <li class="footer__social">
            <a href="#" target="_blank" class="footer__social-link">
              <svg class="footer__social-icon">
                <use xlink:href="img/sprite.svg#logo-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="footer__social">
            <a href="#" target="_blank" class="footer__social-link">
              <svg class="footer__social-icon">
                <use xlink:href="img/sprite.svg#logo-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="footer__social">
            <a href="#" target="_blank" class="footer__social-link">
              <svg class="footer__social-icon">
                <use xlink:href="img/sprite.svg#logo-skype"></use>
              </svg>
            </a>
          </li>
          <li class="footer__social">
            <a href="#" target="_blank" class="footer__social-link">
              <svg class="footer__social-icon">
                <use xlink:href="img/sprite.svg#logo-twitter"></use>
              </svg>
            </a>
          </li>
          <li class="footer__social">
            <a href="#" target="_blank" class="footer__social-link">
              <svg class="footer__social-icon">
                <use xlink:href="img/sprite.svg#logo-pinterest"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
