<header class="header" id="header">
  @@include('./_banner.html')
  <div class="header__inner">
    <div class="header__top">
      <a href="#" class="header__logo">Avion</a>
      <div class="header__right">
        <div class="header__wrapper">
          <nav class="header__nav nav">
            <ul class="nav__list">
              <li class="nav__item">
                <a href="/about.html" class="nav__link link-flip">
                  <span data-hover="About us">About us</span>
                </a>
              </li>
              <li class="nav__item">
                <a href="/contacts.html" class="nav__link link-flip"> <span data-hover="Contact">Contact</span></a>
              </li>
              <li class="nav__item">
                <a href="/blog.html" class="nav__link link-flip"><span data-hover="Blog">Blog</span></a>
              </li>
            </ul>
          </nav>
          <div class="header__icons">
            <ul class="header__list">
              <li class="header__item">
                <a href="#" class="header__link">
                  <svg class="header__link-svg">
                    <use xlink:href="img/sprite.svg#search"></use>
                  </svg>
                </a>
              </li>
              <li class="header__item">
                <a href="cart.html" class="header__link">
                  <svg class="header__link-svg">
                    <use xlink:href="img/sprite.svg#shopping-cart"></use>
                  </svg>
                </a>
              </li>
              <li class="header__item">
                <a href="#" class="header__link">
                  <svg class="header__link-svg">
                    <use xlink:href="img/sprite.svg#user-avatar"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <button class="header__close" id="header-close">
          <svg class="header__close-svg">
            <use xlink:href="img/sprite.svg#close"></use>
          </svg>
        </button>
      </div>
      <button class="header__burger" aria-label="Открыть меню" aria-expanded="false" data-burger>
        <svg class="header__burger-svg">
          <use xlink:href="img/sprite.svg#menu"></use>
        </svg>
      </button>
    </div>
    <div class="header__bottom">
      <nav class="header__categories categories" title="">
        <ul class="categories__list">
          <li class="categories__item">
            <a href="#" class="categories__link link-flip"><span data-hover="All products">All products</span> </a>
          </li>
          <li class="categories__item">
            <a href="#" class="categories__link link-flip"><span data-hover="Plant pots">Plant pots</span> </a>
          </li>
          <li class="categories__item">
            <a href="#" class="categories__link link-flip"><span data-hover="Ceramics">Ceramics</span> </a>
          </li>
          <li class="categories__item">
            <a href="#" class="categories__link link-flip"><span data-hover="Tables">Tables</span> </a>
          </li>
          <li class="categories__item">
            <a href="#" class="categories__link link-flip"><span data-hover="Chairs">Chairs</span> </a>
          </li>
          <li class="categories__item">
            <a href="#" class="categories__link link-flip"><span data-hover="Crockery">Crockery</span> </a>
          </li>
          <li class="categories__item">
            <a href="#" class="categories__link link-flip"><span data-hover="Tableware">Tableware</span> </a>
          </li>
          <li class="categories__item">
            <a href="#" class="categories__link link-flip"><span data-hover="Cutlery">Cutlery</span> </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
